.item-container {
    width: 60%;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category-container {
    width: 100%;
    background-color: #f4f4f4;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-info {
    width: 70%;
    background-color: #f4f4f4;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
}

.item-info-image {
    flex: 0 0 50%;
    background-color: #f4f4f4;
    margin-right: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 150px;
}

.item-info-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.image-upload, .image-slide {
    flex: 0 0 5%;
    margin-right: 4%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.image-upload button {
    margin-bottom: 10px;
}

.image-upload button, .image-slide button {
    width: 40px;
    height: 40px;
    font-size: 24px;
}

.item-info-text {
    width: 50%;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.item-info-text input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.item-description {
    width: 60%;
    background-color: #f4f4f4;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-container {
    width: 50%;
    background-color: #f4f4f4;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media (max-width) {
    .item-container {
        width: 700px;
    }
}
