{% extends "layout.html" %}

{% block title %} login {% endblock %}

{% block link %} 
    <link href="{{ url_for('static', filename='css/register.css')}}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="mb-3 register-container">
        <form action="/login" method="post" id="login-form">
            <fieldset>
                <div class="mb-3">
                    <input autocomplete="off" required autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">   
                </div>

                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" required  name="password" id="password" autocomplete="current-password"  placeholder="Password" type="password">
                    <label for="toggle-password"> <input type="checkbox" id="toggle-password"> Show Password</label>
                </div>
            </fieldset>

            <div class="mb-3">
                <input class="form-control mx-auto w-auto submit-button" id="submit" type="submit" value="Login">
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}